.step_design {
  /*color: #04B7C9;*/
}

stepper .boxprincipale {
  background-color: #fff;
  box-shadow: 1px 1px 2px 2px #ddd;
  border-radius: 10px;
  /*p: 2;*/
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  padding: 10px;
  padding-top: 40px;
  height: 500px;
}

.box_centre {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 88%;
  max-height: 100%;
}

.box_patient
{
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 500px;
}



/* 
.box_btn_next {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px
} */

/* .btn_next {
  border-radius: 50px;
  border: 0px #04b7c9;
  background-color: #04b7c9;
  color: #fff;
  padding: 10px;
  width: 250px;
  margin-left: 40%;
  height: 50px;
  font-size: 120%;
} */

.boxprincipale
{
    background-color: #fff;
    box-shadow: 1px 1px 2px 2px #ddd;
    border-radius: 10px;
          /*p: 2;*/
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    padding: 10px;
    padding-top: 40px;
    height: 500px;
}

.box_centre_clinique
{
    box-shadow: 1px 1px 2px 2px #ddd;
    height: 250px;
}

/* .box_btn_retour
{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
   
} */

/* .box_btn_next
{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
   
} */

 .btn_retour
{
    border-radius: 50px;
    border: 1px    solid #04B7C9;
    background-color: #fff;
    color: #04B7C9;
    padding: 10px;
    width: 40%;
    /*margin-left: 40%;*/
    height: 40px;
    font-size: 120%;
}

 .btn_next
{
    border-radius: 50px;
    border: 0px #04B7C9;
    background-color: #04B7C9;
    color: #fff;
    padding: 10px;
    width: 40%;
    float: right;
    margin-left: 40%;
    height: 40px;
    font-size: 120%; 
}
