.boxClinique
{
   margin-bottom: 15px;
   overflow-y: visible;
}

.boxlist
{
    overflow-y: visible blue;
}

.texteClinique
{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    
}

.box_btn_retour
{
    margin-top: 35px;
    margin-bottom: 50px;
    width: 50%;
   
}

.box_btn_next
{
    margin-top: 35px;
    margin-bottom: 50px;
    width: 50%;
   
}

.btn_retour
{
    border-radius: 50px;
    border: 1px    solid #04B7C9;
    background-color: #fff;
    color: #04b7c9;
    padding: 10px;
    /*margin-left: 40%;*/
    height: 40px;
    font-size: 120%;
}

.btn_next
{
    border-radius: 50px;
    border: 0px #04B7C9;
    background-color: #04B7C9;
    color: #fff;
    /*margin-left: 40%;*/
    height: 40px;
    font-size: 120%;
}