:root {
  --primary-color: #04b7c9;
  --secondary-color: #fdb305;
  --white-color: white;
  --grey-color: #f9f9f9;
  --grey-dark-color: #6a6a6a;
}

.container-title {
  text-align: center;
  margin: 40px 0px;
}

.container-title_text {
  font-size: 18px;
  font-weight: 600;
}

.info-container {
  background-color: rgba(4, 183, 201, 0.15);
  height: "fit-content";
  margin-bottom: 15px;
  padding: 10px;
}

.info-container_bottom {
  height: "fit-content";
  background-color: var(--grey-color);
  padding: 10px;
}

#title {
  margin: 0;
}

.paragraph {
  font-size: 13px;
}

.paragraph.info {
  color: var(--grey-dark-color);
}

.info-container_bottom-item {
  font-weight: 500;
}

.input-box_button {
  width: 250px;
  height: 50px;
  border: 2px solid var(--primary-color) !important;
  border-radius: 50px !important;
  text-transform: uppercase;
  margin-bottom: 20px !important;
}

.info-btn_back {
  color: var(--primary-color);
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.1em;
  font-size: 18px;
}

@media screen and (max-width: 899px) {
  .container-flex {
    flex-direction: column-reverse !important;
  }
}
